@import "../../styles/variables";
.hero {
  height: 100vh;
  background-image: url("../../assets/images/ui/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $blend-bg;
  background-blend-mode: darken;
}
