@import './styles/index.scss';
body {
  font-family: var(--default-font);
  // min-height: 100vh;
  // height: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: $blend-bg;
  // background-blend-mode: darken;
  @media (max-width: 25rem) {
    // font-size: 12px;
  }
  background: rgba(255, 229, 219, 0.15);
}
// @import "../../styles/variables";
.react-select__control {
  padding: 2rem !important;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
